﻿@{
    ViewBag.Title = "Currency";
}

<table class="table">
    <tr style="background-color: blanchedalmond">
        <td>ID</td>
        <td>CharCode</td>
        <td>Name</td>
        <td>Value</td>
        <td>Previous</td>
    </tr>
    <tr>
        <td>@ViewBag.SelCur.ID</td>
        <td>@ViewBag.SelCur.CharCode</td>
        <td>@ViewBag.SelCur.Name</td>
        <td>@ViewBag.SelCur.Value</td>
        <td>@ViewBag.SelCur.Previous</td>
    </tr>
</table>

@Html.ActionLink("Назад", "Index", "Home", new { page = 1 }, null)