﻿@model TestTask.Models.ModelCurrency
@using TestTask.Helpers
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr style="background-color: blanchedalmond">
        <td>ID</td>
        <td>CharCode</td>
        <td>Name</td>
        <td>Value</td>
        <td>Previous</td>
    </tr>
    @foreach (var item in Model.Currencies)
    {
        <tr>
            <td>@Html.ActionLink(@item.ID, "Currency", "Home", new { id = @item.ID }, null)</td>
            <td>@item.CharCode</td>
            <td>@item.Name</td>
            <td>@item.Value</td>
            <td>@item.Previous</td>
        </tr>
    }
</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model, x => Url.Action("Index", new { page = x }))
</div>